.card__item{
    width: 264px;
}
.card__item-dark{
    background-color: #2B3844;
}
.card-header{
    height: 160px;
}
.card-header img{
    width: 100%;
    height: 100%;
}
.card__title,
.card__title-dark{
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: #111517;
}
.card__title-dark{
    color: #fff;
}
.card__info{
    margin-top: 20px;
}
.card-population,
.card-population__dark{
    font-size: 14px;
    line-height: 16px;
}
.card-population__dark{
    color: #fff;
}
.card-population b{
    margin-right: 5px;
}
.card-population+.card-population{
    margin-top: 8px;
}
@media only screen and (max-width:767px){
    .card__item{
        width: 250px;
    }
}